body {
    background-color: black;
    color: white;
}

.code {
    border-width: 2px;
    border-color: white;
    border-radius: 12px;
    border-style: solid;
}

.codediv {
    max-width: 830px;
}
